<div class="jumbotron">
    <img src="https://lh3.googleusercontent.com/proxy/363b9ynncegpD8xgGkV9zeDvazgLkipbDqRTO3oWEHJkjwG8dJvE18HAL5FGfD564KoJ9QcqBmxrn98z_iuAvcuZyA"
        class="img-fluid" alt="Responsive image" height="175px" width="175px">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="panel-panel default">
            <h1>Ready To Eat</h1>
            <div class="card">
                <div class="card-body">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/unless}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="panel-panel default">
            <h1>Devoured</h1>
            <div class="card">
                <div class="card-body">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devour=false}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>

</div>



<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger"></label>
        <input type="text" id="burgtoeat" placeholder="">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>